 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 form {
     background-color: #fff;
     max-width: 700px;
     margin: 50px auto;
     padding: 30px 20px;
     box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
 }
 .form-control {
     text-align: left;
     margin-bottom: 25px;
 }
 .form-control label {
     display: block;
     margin-bottom: 10px;
 }
 .form-control input,
 .form-control textarea {
     border: 1px solid #777;
     border-radius: 2px;
     font-family: inherit;
     padding: 10px;
     display: block;
     width: 85%;
 }
 .form-control input[type="radio"] {
     display: inline-block;
     width: auto;
 }
 table td {
    padding: 20px;
    word-wrap: break-word;
 }

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.smallText {
    font-size: small;
}

.checked {
    color: orange;
}

.centered {
    text-align: center;
}

.lightGray {
    background-color: #F1F1F1;
}

table th {
    padding: 50px;
}
.surveyForm{
    display: grid;
    grid-template-columns: auto auto;
}
.name input{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    width: 70%;
}
.table-mobile{
    display: none;
}
@media only screen and (max-width: 620px) {
    form {
            background-color: #fff;
            max-width: 300px;
            margin: 40px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
    body {
        width: 100%;
    }
    .table-mobile {
        display: contents;
    }
    .table-mobile p{
        margin-left: 40px;
    }
    .table-desktop {
        display: none;
    }
}